
@media (max-height: 600px) {
    .element {
      margin-top: 16px;
    }
  }
  
  @media (min-height: 600px) and (max-height: 650px) {
    .element {
      margin-top: 20px;
    }
  }
  
  @media (min-height: 650px) and (max-height: 700px) {
    .element {
      margin-top: 24px;
    }
  }
  
  @media (min-height: 700px) and (max-height: 750px) {
    .element {
      margin-top: 28px;
    }
  }
  
  @media (min-height: 750px) and (max-height: 800px) {
    .element {
      margin-top: 32px;
    }
  }
  
  @media (min-height: 800px) {
    .element {
      margin-top: 36px;
    }
  }



  @media (max-height: 600px) {
    .mgBetweenField {
      margin-top: 10px;
    }
  }
  
  @media (min-height: 600px) and (max-height: 650px) {
    .mgBetweenField {
      margin-top: 15px;
    }
  }
  
  @media (min-height: 650px) and (max-height: 700px) {
    .mgBetweenField {
      margin-top: 20px;
    }
  }
  
  @media (min-height: 700px) and (max-height: 750px) {
    .mgBetweenField {
      margin-top: 25px;
    }
  }
  
  @media (min-height: 750px) and (max-height: 800px) {
    .mgBetweenField {
      margin-top: 30px;
    }
  }
  
  @media (min-height: 800px) {
    .mgBetweenField {
      margin-top: 35px;
    }
  }
  


  





  
