@import "tailwindcss/base";
@import "@radix-ui/themes/styles.css";

@tailwind components;
@tailwind utilities;


/*Start dialysisPage */
.cardOne{
  height: 27vh;
  padding: 0 calc(2%);
  border-top: 5px solid #f1f4fa; 
  border-left: 5px solid #f1f4fa;

}
.cardOneHeader{
  padding-bottom: calc(1%);
  padding-top: calc(1%);

}
.cardGrid{
  gap:calc(1%)
}


.cardTwo{
  height: 26vh;
  padding:  calc(4%);
  border-top: 5px solid #f1f4fa; 
  border-left: 5px solid #f1f4fa;
}

.cardd{
    height: 30vh;
    border-top: 5px solid #f1f4fa; 
    border-left: 5px solid #f1f4fa;

}
.cardThreeHeader{
  padding: calc(0.1%);
  padding-right: calc(2%);

  padding-bottom: calc(0.1%);
}

.table{
  padding-top: calc(1%);
  padding-left: calc(2%);
  padding-right: calc((2%));
}

.headertable{
  padding-top: calc(0.25%);
  padding-bottom: calc(1.2%);
  padding-right: calc(2%);
  padding-left: calc(2%);
}

.headertable h3{
  padding-right: calc(2%);
}
.headertable h2{
padding-left: calc(2%)
}

.tabledata{
padding-left:calc(2%) ;
padding-right:calc(2%) ;
padding-top:calc(1%) ;
padding-bottom:calc(1%) ;
}

.sapn1{
padding-left: calc(2%);
}
.sapn2{
padding-right: calc(1%);
}

.cardSix{
  height: 25vh;
  padding:  calc(1%);
  border-top: 5px solid #f1f4fa; 
  border-left: 5px solid #f1f4fa;
}

.cardSixHeader{
  padding-bottom: calc(0.3%);
}

.tablee{
  padding-top: calc(1%);
  padding-bottom: calc(2%);
}
.notes{
  height: calc(17vh);
  padding: calc(2%);
  padding-bottom: calc(0.1%);
  
}

.cardFive{
  height: 25vh;
  padding:  calc(4%);
  padding-bottom: calc(6%);
  padding-top: calc(2%);
  border-top: 5px solid #f1f4fa; 
  border-left: 5px solid #f1f4fa;
}


/* Three */



/*End dialysisPage*/








.chart-title {
  text-align: right; /* محاذاة النص إلى اليمين */
}
:root {
  --color-primary: rgba(246, 249, 255, 1);
}






@font-face {
  font-family: 'primaryBold';
  src: url('./assets/fonts/a-JannatLT-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'primaryRegular';
  src: url('./assets/fonts/a-JannatLT-Regular.ttf') format('truetype');
}
/*
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

body {
  background-color: white;
}

::-webkit-scrollbar {
  display: none;
}